@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/* font-family: 'Spartan', sans-serif; */

.gora {
  position: absolute;
}

.dol {
  position: absolute;
  bottom: 0;
  right: 0;
}

.LeftTop {
  left: 15%;
  top: 25%;
  position: fixed;
}
.ratingi {
  right: 25%;
  top: 25%;
  position: fixed;
}

.jeden {
  border: 1px solid;
  background-color: var(--lightGrayishMagenta);
  border-color: var(--lightGrayishMagenta);
  border-radius: 8px;
}

.dwa {
  border: 1px solid;
  background-color: var(--lightGrayishMagenta);
  border-color: var(--lightGrayishMagenta);
  border-radius: 8px;
}

.trzy {
  border: 1px solid;
  background-color: var(--lightGrayishMagenta);
  border-color: var(--lightGrayishMagenta);
  border-radius: 8px;
}

.tekst {
  font-family: Spartan;
}

.duzy {
  font-size: 30px;
  font-weight: bold;
}

.szary {
  color: var(--darkGrayishMagenta);
}

.fiolet {
  color: var(--veryDarkMagenta);
  font-weight: bold;
}
:root {
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --veryDarkMagenta: hsl(300, 43%, 22%); /* Primary */
  --softPink: hsl(333, 80%, 67%); /* Primary */
}
